<div style="width: 90%; margin-left: 5%">
  <a href="/dashboard" > &larr; Back to Dashboard</a>
  <h2 class="title">Create New Post</h2><hr>
  <form class="new-post-form">
    <div>
      <label for="title">Title:</label>
      <input class="input" type="text" id="title" name="title"/>
    </div>
    <div>
      <label for="content">Content:</label>
      <input class="textarea is-large" id="content" name="content"/>
    </div>
    <div class="create-btn-container">
      <button type="submit" class="button is-primary  create-btn">Create Post</button>
    </div>
  </form>
</div>
<script src="/js/new-post.js"></script>